// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FFE94B;
$orange: #E67E22;
$green: #50E3C2;
$gray: #A8A8A8;
$light-gray: #F4F4F4;
$very-light-gray: #F7F7F7;
$black: #676767;
$facebook: #4B82F4;

