// Define variables for your color scheme

// For example:
$red: #FE4A49;
$blue: #118AB2;
$yellow: #FFD166;
$orange: #D45113;
$green: #7FB069;
$gray: #000000;
$light-gray: #F4F4F4;
$pink: #F8C0C8;
$purple: #6B2D5C;
