// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FFD900;
$orange: #E67E22;
$green: #50E3C2;
$gray: #A8A8A8;
$light-gray: #D0D0D0;
$very-light-gray: #F7F7F7;
$black: #676767;
$facebook: #4B82F4;

// Colors for categories :

$music: #EA8C55; //orange
$conference: #21295C; //bleu foncé
$comedy: #CA1551; //rose rouge
$learning_education: #F61067; //rose fluo
$family_fun_kids: #8A4F7D; //violet clair
$festivals_parades: #FBD1A2; //orange clair
$movies_film: #C75146; //rouge
$food: #DF928E; //chair
$fundraisers: #EE4B6A; //saumon
$art: #FFE381; //jaune
$support: #03CEA4; //vert eau
$holiday: #9B8816; //vert kakilou
$books: #88CCF1; //bleu ciel
$attractions: #17A398; //bleu vert
$community: #70877F; //green kaki 2
$business: #345995; //bleu marine
$singles_social: #EA2B1F; //rouge
$schools_alumni: #345995; //bleu
$clubs_associations: #F3D9DC; //very light pink
$outdoors_recreation: #493548; //marron
$performing_arts: #0B5351; //vert
$animals: #AA8F66; //marron gris
$politics_activism: #3D3B30; //grey
$sales: #D0CD94; //vert clair
$science: #662C91; //violet bis
$religion_spirituality: #4B296B; //violet
$sports: #7FB685; //vert
$other: #CEE5F2; //gris bleu
