.event-photo-container {
  width: 100vw;
  height: 420px;
  margin: 1.5px 0 0 0;
  border-radius: 0px;
}

.overflow-hidden {
  overflow: hidden;
}


.event-photo {
  width: 100vw;
  // margin: -60px 0px;
// Quand toggle:
// * bouger position à négatif
// * width: 100
}

.category-tag {
  border-radius: 8px;
  font-size: 12px;
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 6px;
  display: inline-block;
  // color: $black;
  margin: 0px;
}


.inline {
  display: inline;
}

.event-description {
  padding-right: 24px;
  text-align: justify;
}

.indication {
  padding-left: 23px;
}

.e-info {
  margin-bottom: 3vh;
}

.main-info-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main-info-btns {
  display: flex;
  flex-direction: column;
  width: 35px;
  margin-top: 18px;
}

.main-info {
  // width: 275px;
  flex-grow: 1;
}

.event-name {
  padding-right: 0px;
}
