.event-photo-container {
  width: 100vw;
  height: 420px;
  margin: 1.5px 0 0 0;
  border-radius: 0px;
}

.overflow-hidden {
  overflow: hidden;
}

.event-photo {
  width: 100vw;
  // margin: -60px 0px;
// Quand toggle:
// * bouger position à négatif
// * width: 100
}

.category-tag {
  border-radius: 8px;
  font-size: 12px;
  padding-left: 9px;
  padding-right: 9px;
  margin-bottom: 6px;
  display: inline-block;
  // color: $black;
  margin: 0px;
}

.inline {
  display: inline;
}

.indication {
  padding-left: 23px;
}

.e-info {
  margin-bottom: 3vh;
}

#main-info {
  position: relative;
  margin-bottom: 4vh;
}

.share-fb {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 5vh;
  margin-right: 1vh;
}

.event-name {
  padding-right: 5vh;
}
