.avatar-profile {
  border-radius: 50%;
  height: 135px;
  width: 135px;
  border: 1px solid white;
}

.user-img-name {
  display: flex;
  margin: 25px 0px;
  align-items: center;
  justify-content: space-around;
  // justify-content: space-between;
}

.user-img {
}

.user-info {
  margin: 0 5%;
}

.container-signup {
  margin: 10px 0;
  h2 {
    margin-bottom: 15px;
    margin-top: 5px;
  }
  p {
    color: $gray;
    margin-bottom: 0;
  }
}

.btn-top-move {
  margin-top: 50px;
}
