.avatar-profile {
  border-radius: 50%;
}

.user-img-name {
  display: flex;
  margin: 15px 0px;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  margin: 0 5%;
}

.container-signup {
  margin: 10px 0;
  h2 {
    margin-bottom: 15px;
    margin-top: 5px;
  }
  p {
    color: $gray;
    margin-bottom: 0;
  }
}
