<div class="banner">
  <div class="banner-content">
    <%= render 'shared/fyne_logo'  %>
    <h1>fyne</h1>
    <p>find your next experiences</p>
    <a class="btn btn-start btn-lg">Start</a>
  </div>
</div>
