<?xml version="1.0" encoding="UTF-8"?>
<svg width="137px" height="247px" viewBox="0 0 137 247" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch -->
    <title>Combined Shape</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="LANDING-PAGE" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-118.000000, -92.000000)">
        <path d="M210.944374,110.182468 L196.913428,189.755916 L245.027358,199.108316 L210.944374,110.182468 Z M206.011785,109.362716 L135.998214,177.915197 L192.004545,188.801725 L206.011785,109.362716 Z M181.553564,276.866036 L243.898778,203.982526 L196.045055,194.680704 L181.553564,276.866036 Z M177.138544,273.111004 L191.136172,193.726514 L137.93157,183.384587 L177.138544,273.111004 Z M129.406785,181.727537 L129.358548,181.718161 L129.372138,181.648246 L126.933243,176.066757 L211.914063,92.859375 L254.119141,202.976562 L180.512901,289.024565 C180.506828,289.084159 180.500659,289.143765 180.494393,289.203383 C177.287472,319.715201 149.953032,341.850194 119.441214,338.643272 C118.959343,338.592626 118.479562,338.535961 118.001937,338.473362 L118.487489,333.85365 C118.635996,333.871051 118.784801,333.887589 118.933901,333.903261 C144.139316,336.552456 172.215192,313.817061 174.864388,288.611645 C174.950192,287.795275 175.009862,286.981219 175.044144,286.170094 L129.406785,181.727537 Z" id="Combined-Shape" fill="#FFFFFF"></path>
    </g>
</svg>
