<div class="navbar-wagon">
  <% if user_signed_in? %>
    <div>
      <%= render 'shared/profile_logo', color: profile_color %>
    </div>
    <div>
      <%= link_to new_swipe_path do %>
        <%= render 'shared/fyne_logo', color: fyne_color, width: 23  %>
      <% end %>
    </div>

    <div>
      <%= render 'shared/calendar_logo', color: calendar_color %>
    </div>
  <% end %>

</div>

