<div class="banner">
  <div class="banner-content">
    <%= render 'shared/fyne_logo', color: "white", width: 100  %>
    <h1>fyne</h1>
    <p>find your next experiences</p>
      <%= link_to "Sign up with Facebook", "", class: "btn btn-facebook" %>
      <%= link_to "Sign up with Email", new_user_registration_path, class: "btn btn-email" %>
    <p>Have an account? <%= link_to "Log in", new_user_session_path %></p>
  </div>
</div>
