<div class="banner">
  <div class="banner-content">
    <%= render 'shared/fyne_logo'  %>
    <h1>fyne</h1>
    <p>find your next experiences</p>
    <%= link_to "Start", new_user_session_path, class:"btn btn-start btn-lg" %>
  </div>
</div>
