<%= render 'shared/navbar', profile_color: "inactive", calendar_color: "active", fyne_color: "inactive" %>
<h1 class="text-center">Edit your event's details</h1>
<%= render partial: 'shared/form', locals: { page_new: false } %>
<br>
<%= link_to "Back to my event page", event_path(@event), class: "btn btn-fyne btn-back-form btn-info"  %>
