<%= render 'shared/navbar', profile_color: "inactive", calendar_color: "active", fyne_color: "inactive" %>
<h1 class="text-center">Edit your event's details</h1>
  <%= render 'shared/form' %>

<%= link_to "Back to my event page", event_path(@event) %>
