<%= render 'shared/navbar', profile_color: "inactive", calendar_color: "active", fyne_color: "inactive" %>

<div class="container-fyne">

  <div class="text-center">
      <%= link_to new_event_path, class: "btn btn-primary   btn-fyne", id: "btn-create-new-event" do %>
        <i class="fa fa-plus-square" aria-hidden="true" ></i>
        <span>Create an event</span>
      <% end %>
  </div>
</div>

<hr id="large-line">

<div class="container-fyne">
  <div class="cards-container-index">
    <% @group_of_events.where(user: current_user).order(start_time: :asc).group_by { |e| e.start_time.strftime('%A %dth, %b %Y') }.each do |date, events| %>
      <h2>
        <%= date %>
      </h2>
      <% events.each do |event| %>
      <%= render 'shared/cards', event: event%>
      <% end %>
    <% end %>
  </div>
</div>

<!--         <%#= event.start_time [

  {.strftime('%b %dth %Y')
    11-10-2016: [
  Event,
  Event,
    ]
  },

  {
    11-10-2016: [
  Event,
  Event,
    ]
  },

  {
    11-10-2016: [
  Event,
  Event,
    ]
  },
  {
    11-10-2016: [
  Event,
  Event,
    ]
  }
]
 -->
