<%= render 'shared/navbar', profile_color: "inactive", calendar_color: "active", fyne_color: "inactive" %>
<h1 class="text-center">Enter your event's details</h1>

<div>
  <%= render 'shared/form' %>
</div>

<%= link_to "Back to my events", events_path, class: "btn btn-fyne btn-back-form btn-info" %>
