<div id= "navbar-new" class="new-no-padding">
  <%= render 'shared/navbar', profile_color: "inactive", calendar_color: "inactive", fyne_color: "active" %>
</div>


<div id="container-new-global">
  <%= render 'shared/swipe_new', event: @event, swipe: @swipe %>
</div>

<% content_for(:after_js) do %>

  <script type="text/javascript">
    const navbar = document.getElementById('navbar-new');
    const photo = document.getElementById('photo');
    const subcat = document.getElementById('subcat');
    const mainInfosNew = document.getElementById('main-infos-new');
    const btns = document.getElementById('command-btn-group');
    const eventInfos = document.getElementById('event-infos');
    // const center = document.getElementById('map');

    photo.addEventListener("click", (event) => {
      navbar.classList.toggle('custom-hide');
      photo.classList.toggle('event-photo-container');
      photo.style.transform = "translate3d(0px, 0px, 0px)"
      mainInfosNew.classList.toggle('hidden');
      btns.classList.toggle('btns-on-focus');
      eventInfos.classList.toggle('custom-hide');

    });


var gridWidth = 200;
var gridHeight = 100;
var draggable = Draggable.create("#photo", {
    type:"x,y",
    edgeResistance:0.2,
    bounds:"#photo-container-new",
    lockAxis:true,
    throwProps:true,
    snap: {
        x: function(endValue) {
            return Math.round(endValue / gridWidth) * gridWidth;
        },
        y: function(endValue) {
            return Math.round(endValue / gridHeight) * gridHeight;
        }
    }
});

document.getElementById('photo').addEventListener("touchend", (event) => {
  console.log(event)
  if (event["changedTouches"][0]["pageX"] < 100) {
    console.log("left")
    document.querySelector('.btn-dislike a').click()
  } else if (event["changedTouches"][0]["pageX"] > 275) {
    console.log("right")
    document.querySelector('.btn-like a').click()
  } else {
    document.getElementById('photo').style.transform = "translate3d(0px, 0px, 0px)"
    console.log("nothing")
  };
});

document.querySelector('.btn-like a').addEventListener("click", (event) => {
  document.querySelector('.card').classList.add('card-flight-right');
  document.getElementById('navbar-new').classList.remove('custom-hide');
  document.getElementById('photo').classList.remove('event-photo-container');
  document.getElementById('main-infos-new').classList.remove('hidden');
  document.getElementById('command-btn-group').classList.remove('btns-on-focus');
  document.getElementById('event-infos').classList.add('custom-hide');
});

document.querySelector('.btn-dislike a').addEventListener("click", (event) => {
  document.querySelector('.card').classList.add('card-flight-left');
  document.getElementById('navbar-new').classList.remove('custom-hide');
  document.getElementById('photo').classList.remove('event-photo-container');
  document.getElementById('main-infos-new').classList.remove('hidden');
  document.getElementById('command-btn-group').classList.remove('btns-on-focus');
  document.getElementById('event-infos').classList.add('custom-hide');
});


  </script>
<% end %>
