.banner {
  background-color: $yellow;
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-logo {
  margin-top: 3%;
}

.banner h1 {
  color: white;
  font-size: 105px;
  font-weight: bold;
  text-shadow: -3px 0 black, 0 3px $red, 3px 0 $green, 0 -3px $orange;
  margin-top: 0;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 28px;
  // font-weight: lighter;
  color: white;
  opacity: 1;
  margin-top: 2%;
  margin-bottom: 10%;
}

.btn-facebook {
  background-color: $facebook;
  color: white;
  width: 90%;
  margin: 5px;
}

.btn-email {
  background-color: white;
  color: $yellow;
  width: 90%;
  margin: 5px;
}

