.music-tag {
  color: white;
  background-color: rgba(168,0,21,1);
  }
.music {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(168,0,21,1);
  }

.festivals_parades-tag {
  color: white;
  background-color: rgba(168,0,21,1);
  }

.festivals_parades {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(168,0,21,1);
  }

.singles_social-tag {
  color: white;
  background-color: rgba(168,0,21,1);
  }

.singles_social {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(168,0,21,1);
  }

.performing_arts-tag {
  color: white;
  background-color: rgba(168,0,21,1);
  }

.performing_arts {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(168,0,21,1);
  }

.comedy-tag {
  color: white;
  background-color: rgba(168,0,21,1);
  }

.comedy {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(168,0,21,1);
  }

.movies_film-tag {
  color: white;
  background-color: rgba(168,0,21,1);
  }

.movies_film {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(168,0,21,1);
  }

.books-tag {
  color: white;
  background-color: rgba(241,171,54,1);
  }

.books {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(241,171,54,1);
  }

.art-tag {
  color: white;
  background-color: rgba(241,171,54,1);
  }

.art {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(241,171,54,1);
  }

.attractions-tag {
  color: white;
  background-color: rgba(241,171,54,1);
  }

.attractions {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(241,171,54,1);
  }

.outdoors_recreation-tag {
  color: white;
  background-color: rgba(65,117,5,1);
  }

.outdoors_recreation {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(65,117,5,1);
  }

.community-tag {
  color: white;
  background-color: rgba(65,117,5,1);
  }

.community {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(65,117,5,1);
  }

.clubs_associations-tag {
  color: white;
  background-color: rgba(65,117,5,1);
  }

.clubs_associations {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(65,117,5,1);
  }

.sports-tag {
  color: white;
  background-color: rgba(107,186,20,1);
  }

.sports {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(107,186,20,1);
  }

.support-tag {
  color: white;
  background-color: rgba(107,186,20,1);
  }

.support {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(107,186,20,1);
  }

.food-tag {
  color: white;
  background-color: rgba(255,116,120,1);
  }

.food {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(255,116,120,1);
  }

.fundraisers-tag {
  color: white;
  background-color: rgba(161,10,195,1);
  }

.fundraisers {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(161,10,195,1);
  }

.religion_spirituality-tag {
  color: white;
  background-color: rgba(141,18,249,1);
  }

.religion_spirituality {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(141,18,249,1);
  }

.technology-tag {
  color: white;
  background-color: rgba(74,144,226,1);
  }

.technology {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(74,144,226,1);
  }

.science-tag {
  color: white;
  background-color: rgba(74,144,226,1);
  }

.science {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(74,144,226,1);
  }

.learning_education-tag {
  color: white;
  background-color: rgba(74,144,226,1);
  }

.learning_education {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(74,144,226,1);
  }

.family_fun_kids-tag {
  color: white;
  background-color: rgba(74,144,226,1);
  }

.family_fun_kids {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(74,144,226,1);
  }

.schools_alumni-tag {
  color: white;
  background-color: rgba(74,144,226,1);
  }

.schools_alumni {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(74,144,226,1);
  }

.sales-tag {
  color: white;
  background-color: rgba(33,41,92,1);
  }

.sales {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(33,41,92,1);
  }

.business-tag {
  color: white;
  background-color: rgba(33,41,92,1);
  }

.business {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(33,41,92,1);
  }

.conference-tag {
  color: white;
  background-color: rgba(33,41,92,1);
  }

.conference {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(33,41,92,1);
  }

.holiday-tag {
  color: white;
  background-color: rgba(129,79,34,1);
  }

.holiday {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(129,79,34,1);
  }

.politics_activism-tag {
  color: white;
  background-color: rgba(92,92,93,1);
  }

.politics_activism {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(92,92,93,1);
  }

.animals-tag {
  color: white;
  background-color: rgba(170,143,102,1);
  }

.animals {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(170,143,102,1);
  }

.other-tag {
  color: white;
  background-color: rgba(170,143,102,1);
  }

.other {
  position: absolute;
  padding-top: 13px;
  top: 46px;
  color: white;
  background-color: rgba(170,143,102,1);
  }

